body {
  padding-top: 8px;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

h1 {
  margin-bottom: 0;
}

p {
  font-size: 16px;
}

input {
  border: 2px solid #417c3e;
  border-radius: 10px;
  height: 20px;
}

.form-cl {
  display: inline-block;
}

.main-container,
.footer-container {
  max-width: 1100px;
  margin: 0 auto;
}

.footer-container {
  width: 100%;
}

.monthly-pmt-table {
  width: 100%;
  margin: 0 auto;
}

.pmt-table-container {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2px;
}

#copyright {
  margin-top: auto;
  text-align: center;
}

#title,
#input-field,
#Mortgage-Payment-Table {
  border-top: 10px solid #4e9f3d;
  background-color: #f7f7f7;
}

.input-field-container {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.input-field-container-item {
  flex-basis: 50%;
}

.description {
  padding-right: 5px;
}

.label-class {
  margin: 5px;
}

.submit-btn {
  position: relative;
  left: 350px;
}

.btn {
  background: #4e9f3d;

  border-radius: 36px;
  border: none;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #80db7b;

  text-decoration: none;
  cursor: pointer;
}

.mortgage-img {
  width: 50%;
  border-radius: 10px;
  border: 1px solid #dee2e6;
  padding: 5px;
}

.monthly-pmt-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1rem;
  min-width: 500px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.monthly-pmt-table thead tr {
  background-color: #4e9f3d;
  color: #ffffff;

  font-weight: bold;
}

.monthly-pmt-table th,
.monthly-pmt-table td {
  text-align: right;
  padding: 12px 15px;
}

.monthly-pmt-table tbody tr {
  border-bottom: 2px solid #dddddd;
}

.monthly-pmt-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.monthly-pmt-table tbody tr:nth-child(5n) {
  background-color: #4e9f3d;
  color: #fff;
}
