body {
  font-family: Arial, "Times New Roman", Times, serif;
}

.form-cl {
  display: inline-block;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.monthly-pmt-table {
  width: 100%;
  margin: 0 auto;
}

.pmt-table-container {
  width: 90%;
  margin: 0 auto;
}

#copyright {
  text-align: center;
}

#title,
#input-field,
#Mortgage-Payment-Table {
  border-top: 10px solid #80db7b;
  background-color: #f7f7f7;
}

.label-class {
  margin: 5px;
}

.loan-amout-cl {
  display: inline-flex;
  position: relative;
  font-size: 2rem;
  left: 10px;
}

.submit-btn {
  position: relative;
  left: 350px;
}

.btn {
  background: #0db851;
  background-image: -webkit-linear-gradient(top, #0db851, #80db7b);
  background-image: -moz-linear-gradient(top, #0db851, #80db7b);
  background-image: -ms-linear-gradient(top, #0db851, #80db7b);
  background-image: -o-linear-gradient(top, #0db851, #80db7b);
  background-image: linear-gradient(to bottom, #0db851, #80db7b);
  -webkit-border-radius: 36;
  -moz-border-radius: 36;
  border-radius: 36px;
  border: none;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #4a9c33;
  background-image: -webkit-linear-gradient(top, #4a9c33, #b5e6b1);
  background-image: -moz-linear-gradient(top, #4a9c33, #b5e6b1);
  background-image: -ms-linear-gradient(top, #4a9c33, #b5e6b1);
  background-image: -o-linear-gradient(top, #4a9c33, #b5e6b1);
  background-image: linear-gradient(to bottom, #4a9c33, #b5e6b1);
  text-decoration: none;
  cursor: pointer;
}

.mortgage-img {
  position: relative;
  float: right;
  width: 30%;
  right: 20%;
}

.monthly-pmt-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1rem;
  min-width: 500px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.monthly-pmt-table thead tr {
  background-color: #4e9f3d;
  color: #ffffff;

  font-weight: bold;
}

.monthly-pmt-table th,
.monthly-pmt-table td {
  text-align: right;
  padding: 12px 15px;
}

.monthly-pmt-table tbody tr {
  border-bottom: 2px solid #dddddd;
}

.monthly-pmt-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.monthly-pmt-table tbody tr:last-of-type {
  border-bottom: 2px solid #4e9f3d;
}

#Mortgage-Payment-Table {
  margin-bottom: 3%;
}

.monthly-pmt-table tr:nth-of-type(even) {
  background-color: #1e5128;
}
